.categoriesList {
  height: 80vh;
  padding: 0 10px;

  .categoriesListcategories {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .categoriesListImg {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    margin: 10px 0;
  }

  .categoriesListPrice {
    .salePrice {
      font-size: 18px;
      font-weight: 600;
      color: rgb(255, 0, 0);
    }
    .oldPrice {
      text-decoration: line-through;
      color: rgb(71, 71, 71);
    }
  }
  .categoriesListAction {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      margin-right: 40px;
      margin-left: 0px !important;
      .categoriesListView {
        color: rgb(52 52 52);
        cursor: pointer;
      }
    }
    a {
      display: flex;
      align-items: center;
      margin-right: 40px;
      .categoriesListEdit {
        color: #3bb077;
        cursor: pointer;
      }
    }
    .categoriesListDelete {
      color: red;
      cursor: pointer;
    }
  }
}

// .userListImg {
//   width: 32px;
//   height: 32px;
//   border-radius: 50%;
//   object-fit: cover;
//   margin-right: 10px;
// }
