.products {
  display: flex;
  width: 100%;
  .productsContainer {
    flex: 6;
    .btnCreateContainer {
      display: flex;
      justify-content: right;
      padding: 10px;
      text-decoration: none;
      a {
        text-decoration: none !important;
      }
    }
  }
}
